<div *ngIf="marksSheets && marksSheets.length > 0">
  
  <h2 class="text-center">Marks Sheets</h2>
  
  <div *ngFor="let marksSheet of marksSheets; let j = index;">
    
    <div class="card mb-4">
      
      <h5 class="card-header text-center">{{marksSheet.title}}</h5>
      
      <div class="card-body">
        
        <table *ngIf="marksSheet.marksArray" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Marks Obtained</th>
              <th scope="col">Maximum Marks</th>
              <th scope="col">Passing Marks</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elemet of marksSheet.marksArray; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{elemet.subject}}</td>
              <td>{{elemet.marks}}</td>
              <td>{{elemet.maxMarks}}</td>
              <td>{{elemet.passMarks}}</td>
              <td  [ngClass]="elemet.marks >= elemet.passMarks ? 'text-success' : 'text-danger'"><strong>{{elemet.marks * 100 / elemet.maxMarks | number:'2.2-2'}}</strong></td>
            </tr>
          </tbody>
        </table>
        
        <div class="row" *ngIf="role === 'teacher'">
          <div class="col">
            <button class="btn btn-primary" routerLink="/teacher/edit_marks_sheet" [queryParams]="{ id: marksSheet.id }">Edit</button>
          </div>
          <div class="col text-right">
            <button class="btn btn-danger" (click)="deleteMarksSheet(marksSheet.id, j)">Delete</button>
          </div>
        </div>

        <div class="text-right mt-4" style="opacity: .5">
          {{marksSheet.createdAt | date : 'short'}}
        </div>

      </div>
      
    </div>
    
  </div>
  
</div>