<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Students Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto"  *ngIf="!(authService.whoLoggedIn())">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="authService.whoLoggedIn() == 'teacher'">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher/students_list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Students</a>
          </li>
      </ul>

      <ul class="navbar-nav mr-auto"  *ngIf="authService.whoLoggedIn() == 'student'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/student/my_marks" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Marks</a>
          </li>
      </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!(authService.whoLoggedIn())">
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="authService.whoLoggedIn() == 'student'">
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Student Profile</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" (click)="logoutUser()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-auto" *ngIf="authService.whoLoggedIn() == 'teacher'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Teacher Profile</a>
    </li>
    <li class="nav-item" > 
      <a class="nav-link" (click)="logoutUser()" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>