<div class="card">
  <h1 class="card-header text-center">Change Password</h1>
  
  <div class="card-body">
    
    <form [formGroup]="form" class="form-group mt-4" (ngSubmit)="onSubmit()">
      
      <div class="row mb-2">
        <div class="col-2">
          <label for="password">Current Password : </label>
        </div>
        <div class="col-6">
          <input type="password" formControlName="password" class="form-control" name="password" [class.invalid-form]="fc.password.errors && (fc.password.dirty || fc.password.touched)">
        </div>
        <div *ngIf="fc.password.errors" class="col-4 text-danger">
          <div *ngIf="fc.password.errors.required && (fc.password.dirty || fc.password.touched)">
            Current Password is required
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-2">
          <label for="newPassword">New Password : </label>
        </div>
        <div class="col-6">
          <input type="password" formControlName="newPassword" class="form-control" name="newPassword" [class.invalid-form]="fc.newPassword.errors && (fc.newPassword.dirty || fc.newPassword.touched)">
        </div>
        <div *ngIf="fc.newPassword.errors" class="col-4 text-danger">
          <div *ngIf="fc.newPassword.errors.required && (fc.newPassword.dirty || fc.newPassword.touched)">
            New Password is required
          </div>
        </div>
      </div>
      
      <input type="submit" value="Submit" class="btn btn-primary mt-4" [disabled]="!form.valid">
    </form>
  </div>
</div>